.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #442eaa;
	min-height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.ToDoListContainer-item {
	background-color: rgb(78, 184, 192);
	color: white;
	list-style: none;
	font-size: 36px;
	font-weight: bold;
}

.ToDoListContainer-button {
	padding: 10px 50px;
	background-color: white;
	border-radius: 10px;
	font-size: 36px;
	font-weight: bold;
}
